<!doctype html>
<html lang="zxx">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Links of CSS files -->
        <link rel="stylesheet" href="tema/zust/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="tema/zust/assets/css/animate.min.css">
        <link rel="stylesheet" href="tema/zust/assets/css/remixicon.css">
        <link rel="stylesheet" href="tema/zust/assets/css/flaticon.css">
        <link rel="stylesheet" href="tema/zust/assets/css/jquery-ui.min.css">
        <link rel="stylesheet" href="tema/zust/assets/css/magnific-popup.min.css">
        <link rel="stylesheet" href="tema/zust/assets/css/simplebar.min.css">
        <link rel="stylesheet" href="tema/zust/assets/css/metismenu.min.css">
        <link rel="stylesheet" href="tema/zust/assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="tema/zust/assets/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="tema/zust/assets/css/style.css">
		<link rel="stylesheet" href="tema/zust/assets/css/responsive.css">
		
		<title>Cadastro</title>

        <link rel="icon" type="image/png" href="tema/zust/assets/images/favicon.png">
    </head>

    <body>

        <!-- Start Preloader Area -->
        <div class="preloader-area">
            <div class="spinner">
                <div class="inner">
                    <div class="disc"></div>
                    <div class="disc"></div>
                    <div class="disc"></div>
                </div>
            </div>
        </div>
        <!-- End Preloader Area -->
        
        <!-- Start Preloader Area -->
        {% block body %} {% endblock %}
        <!-- End Preloader Area -->
        
        <!-- Links of JS files -->
        <script src="tema/zust/assets/js/jquery.min.js"></script>
        <script src="tema/zust/assets/js/bootstrap.bundle.min.js"></script>
        <script src="tema/zust/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="tema/zust/assets/js/jquery-ui.min.js"></script>
        <script src="tema/zust/assets/js/simplebar.min.js"></script>
        <script src="tema/zust/assets/js/metismenu.min.js"></script>
        <script src="tema/zust/assets/js/owl.carousel.min.js"></script>
        <script src="tema/zust/assets/js/wow.min.js"></script>
        <script src="tema/zust/assets/js/main.js"></script>
    </body>
</html>