{% extends 'cadastro.html.twig' %}

{% block body %}
<div class="profile-authentication-area">
            <div class="container">
                <div class="row register">
                    <div class="col-lg-6 col-md-12 register-formulario">
                        <div class="register-form">
                            <h2 style="color: aliceblue;">Registrar</h2>
        
                            <form>
                                <div class="form-group">
                                    <label>Nome</label>
                                    <input style="background-color: black; border:none;" id="nome" name="nome" type="text" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label>Email</label>
                                    <input style="background-color: black; border:none;" id="email" name="email" type="email" class="form-control">
                                </div>
        
                                <div class="form-group">
                                    <label>Senha (mínimo 6 dígitos)</label>
                                    <input style="background-color: black; border:none;" id="senha" name="senha" type="password" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label>Confirmar Senha</label>
                                    <input style="background-color: black; border:none;" id="confirmar" name="confirmar" type="password" class="form-control">
                                </div>
        
                                <div class="remember-me-wrap">
                                    <p>
                                        <input type="checkbox" id="test1">
                                        <label for="test1">Eu aceito os <a href="privacy.html">Termos e Condições</a></label>
                                    </p>
                                </div>
                                <a type="button" onclick="cadastrar()" class="default-btn">Registrar</button>
                                <a href="/login" type="button" class="default-btn">Voltar</a>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="home-btn-icon">
                <a href="index.html"><i class="flaticon-home"></i></a>
            </div>
        </div>
        <script>
            function cadastrar() {
                
                console.log("-")
                var nome = document.getElementById('nome').value;
                var email = document.getElementById('email').value;
                var senha = document.getElementById('senha').value;
                var confirmar = document.getElementById('confirmar').value;
                var url = "http://localhost/laravel-jwt/public/index.php/api/register";
                var dados = {
                    name: nome,
                    email: email,
                    password: senha
                };

                console.log('Nome:', nome);
                console.log('Email:', email);
                console.log('Senha:', senha);
                console.log('Confirmação:', confirmar);

                if (senha != confirmar) {
                    alert("A confirmação de senha não está correta")
                } else {
                    $.post(url, dados, function(retorno){
                    console.log(retorno);

                    localStorage.setItem('token', retorno.authorisation.token);
                    localStorage.setItem('name', retorno.user.name);
                    localStorage.setItem('email', retorno.user.email);

                    console.log('Token armazenado no localStorage:', localStorage.getItem('token'));
                    console.log('Nome armazenado no localStorage:', localStorage.getItem('name'));
                    console.log('Email armazenado no localStorage:', localStorage.getItem('email'));

                    setTimeout(() => {
                        window.location.href = "/login";
                    }, 2000);
                })
                }

            }
        </script>
{% endblock %}
