<div class="tab-pane fade" id="photos" role="tabpanel">
                        <div class="photos-inner-box-style d-flex justify-content-between align-items-center">
                            <div class="title">
                                <h3>Fotos</h3>
                                <span>855</span>
                            </div>

                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="all-photos-tab" data-bs-toggle="tab" href="#all-photos" role="tab" aria-controls="all-photos">Todas as Fotos</a>
                                </li>
        
                                <li class="nav-item">
                                    <a class="nav-link" id="photos-albums-tab" data-bs-toggle="tab" href="#photos-albums" role="tab" aria-controls="photos-albums">Albuns</a>
                                </li>
                            </ul>
                            
                            <div class="photos-search-box">
                                <form>
                                    <input type="text" class="input-search" placeholder="Search photos...">
                                    <button type="submit"><i class="ri-search-line"></i></button>
                                </form>
                            </div>
                        </div>
                        
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="all-photos" role="tabpanel">
                                <div class="row justify-content-center">
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-photos-card">
                                            <a href=""><img src="tema/zust/assets/images/photos/photos-1.jpg" alt="image"></a>

                                            <div class="icon">
                                                <a href="#"><i class="flaticon-remove-user"></i></a>
                                                <a href="#"><i class="flaticon-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-photos-card">
                                            <a href=""><img src="tema/zust/assets/images/photos/photos-2.jpg" alt="image"></a>

                                            <div class="icon">
                                                <a href="#"><i class="flaticon-remove-user"></i></a>
                                                <a href="#"><i class="flaticon-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-photos-card">
                                            <a href=""><img src="tema/zust/assets/images/photos/photos-3.jpg" alt="image"></a>

                                            <div class="icon">
                                                <a href="#"><i class="flaticon-remove-user"></i></a>
                                                <a href="#"><i class="flaticon-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-photos-card">
                                            <a href=""><img src="tema/zust/assets/images/photos/photos-4.jpg" alt="image"></a>

                                            <div class="icon">
                                                <a href="#"><i class="flaticon-remove-user"></i></a>
                                                <a href="#"><i class="flaticon-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-photos-card">
                                            <a href=""><img src="tema/zust/assets/images/photos/photos-5.jpg" alt="image"></a>

                                            <div class="icon">
                                                <a href="#"><i class="flaticon-remove-user"></i></a>
                                                <a href="#"><i class="flaticon-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-photos-card">
                                            <a href=""><img src="tema/zust/assets/images/photos/photos-6.jpg" alt="image"></a>

                                            <div class="icon">
                                                <a href="#"><i class="flaticon-remove-user"></i></a>
                                                <a href="#"><i class="flaticon-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-photos-card">
                                            <a href=""><img src="tema/zust/assets/images/photos/photos-7.jpg" alt="image"></a>

                                            <div class="icon">
                                                <a href="#"><i class="flaticon-remove-user"></i></a>
                                                <a href="#"><i class="flaticon-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-photos-card">
                                            <a href=""><img src="tema/zust/assets/images/photos/photos-8.jpg" alt="image"></a>

                                            <div class="icon">
                                                <a href="#"><i class="flaticon-remove-user"></i></a>
                                                <a href="#"><i class="flaticon-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-photos-card">
                                            <a href=""><img src="tema/zust/assets/images/photos/photos-9.jpg" alt="image"></a>

                                            <div class="icon">
                                                <a href="#"><i class="flaticon-remove-user"></i></a>
                                                <a href="#"><i class="flaticon-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-photos-card">
                                            <a href=""><img src="tema/zust/assets/images/photos/photos-10.jpg" alt="image"></a>

                                            <div class="icon">
                                                <a href="#"><i class="flaticon-remove-user"></i></a>
                                                <a href="#"><i class="flaticon-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-photos-card">
                                            <a href=""><img src="tema/zust/assets/images/photos/photos-11.jpg" alt="image"></a>

                                            <div class="icon">
                                                <a href="#"><i class="flaticon-remove-user"></i></a>
                                                <a href="#"><i class="flaticon-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-photos-card">
                                            <a href=""><img src="tema/zust/assets/images/photos/photos-12.jpg" alt="image"></a>

                                            <div class="icon">
                                                <a href="#"><i class="flaticon-remove-user"></i></a>
                                                <a href="#"><i class="flaticon-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-photos-card">
                                            <a href=""><img src="tema/zust/assets/images/photos/photos-13.jpg" alt="image"></a>

                                            <div class="icon">
                                                <a href="#"><i class="flaticon-remove-user"></i></a>
                                                <a href="#"><i class="flaticon-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-photos-card">
                                            <a href=""><img src="tema/zust/assets/images/photos/photos-14.jpg" alt="image"></a>

                                            <div class="icon">
                                                <a href="#"><i class="flaticon-remove-user"></i></a>
                                                <a href="#"><i class="flaticon-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-photos-card">
                                            <a href=""><img src="tema/zust/assets/images/photos/photos-15.jpg" alt="image"></a>

                                            <div class="icon">
                                                <a href="#"><i class="flaticon-remove-user"></i></a>
                                                <a href="#"><i class="flaticon-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-photos-card">
                                            <a href=""><img src="tema/zust/assets/images/photos/photos-16.jpg" alt="image"></a>

                                            <div class="icon">
                                                <a href="#"><i class="flaticon-remove-user"></i></a>
                                                <a href="#"><i class="flaticon-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="load-more-posts-btn">
                                    <a href="#"><i class="flaticon-loading"></i>Carregar Mais</a>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="photos-albums" role="tabpanel">
                                <div class="row justify-content-center">
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-photos-card">
                                            <a href=""><img src="tema/zust/assets/images/photos/photos-16.jpg" alt="image"></a>

                                            <div class="icon">
                                                <a href="#"><i class="flaticon-remove-user"></i></a>
                                                <a href="#"><i class="flaticon-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-photos-card">
                                            <a href=""><img src="tema/zust/assets/images/photos/photos-15.jpg" alt="image"></a>

                                            <div class="icon">
                                                <a href="#"><i class="flaticon-remove-user"></i></a>
                                                <a href="#"><i class="flaticon-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-photos-card">
                                            <a href=""><img src="tema/zust/assets/images/photos/photos-14.jpg" alt="image"></a>

                                            <div class="icon">
                                                <a href="#"><i class="flaticon-remove-user"></i></a>
                                                <a href="#"><i class="flaticon-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-photos-card">
                                            <a href=""><img src="tema/zust/assets/images/photos/photos-13.jpg" alt="image"></a>

                                            <div class="icon">
                                                <a href="#"><i class="flaticon-remove-user"></i></a>
                                                <a href="#"><i class="flaticon-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-photos-card">
                                            <a href=""><img src="tema/zust/assets/images/photos/photos-12.jpg" alt="image"></a>

                                            <div class="icon">
                                                <a href="#"><i class="flaticon-remove-user"></i></a>
                                                <a href="#"><i class="flaticon-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-photos-card">
                                            <a href=""><img src="tema/zust/assets/images/photos/photos-11.jpg" alt="image"></a>

                                            <div class="icon">
                                                <a href="#"><i class="flaticon-remove-user"></i></a>
                                                <a href="#"><i class="flaticon-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-photos-card">
                                            <a href=""><img src="tema/zust/assets/images/photos/photos-10.jpg" alt="image"></a>

                                            <div class="icon">
                                                <a href="#"><i class="flaticon-remove-user"></i></a>
                                                <a href="#"><i class="flaticon-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-photos-card">
                                            <a href=""><img src="tema/zust/assets/images/photos/photos-9.jpg" alt="image"></a>

                                            <div class="icon">
                                                <a href="#"><i class="flaticon-remove-user"></i></a>
                                                <a href="#"><i class="flaticon-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-photos-card">
                                            <a href=""><img src="tema/zust/assets/images/photos/photos-8.jpg" alt="image"></a>

                                            <div class="icon">
                                                <a href="#"><i class="flaticon-remove-user"></i></a>
                                                <a href="#"><i class="flaticon-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-photos-card">
                                            <a href=""><img src="tema/zust/assets/images/photos/photos-7.jpg" alt="image"></a>

                                            <div class="icon">
                                                <a href="#"><i class="flaticon-remove-user"></i></a>
                                                <a href="#"><i class="flaticon-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-photos-card">
                                            <a href=""><img src="tema/zust/assets/images/photos/photos-6.jpg" alt="image"></a>

                                            <div class="icon">
                                                <a href="#"><i class="flaticon-remove-user"></i></a>
                                                <a href="#"><i class="flaticon-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-photos-card">
                                            <a href=""><img src="tema/zust/assets/images/photos/photos-5.jpg" alt="image"></a>

                                            <div class="icon">
                                                <a href="#"><i class="flaticon-remove-user"></i></a>
                                                <a href="#"><i class="flaticon-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-photos-card">
                                            <a href=""><img src="tema/zust/assets/images/photos/photos-4.jpg" alt="image"></a>

                                            <div class="icon">
                                                <a href="#"><i class="flaticon-remove-user"></i></a>
                                                <a href="#"><i class="flaticon-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-photos-card">
                                            <a href=""><img src="tema/zust/assets/images/photos/photos-3.jpg" alt="image"></a>

                                            <div class="icon">
                                                <a href="#"><i class="flaticon-remove-user"></i></a>
                                                <a href="#"><i class="flaticon-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-photos-card">
                                            <a href=""><img src="tema/zust/assets/images/photos/photos-2.jpg" alt="image"></a>

                                            <div class="icon">
                                                <a href="#"><i class="flaticon-remove-user"></i></a>
                                                <a href="#"><i class="flaticon-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-photos-card">
                                            <a href=""><img src="tema/zust/assets/images/photos/photos-1.jpg" alt="image"></a>

                                            <div class="icon">
                                                <a href="#"><i class="flaticon-remove-user"></i></a>
                                                <a href="#"><i class="flaticon-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="load-more-posts-btn">
                                    <a href="#"><i class="flaticon-loading"></i> Carregar Mais</a>
                                </div>
                            </div>
                        </div>
                    </div>