{% extends 'base.html.twig' %}

{% block body %}
<div class="content-page-box-area">
                <div class="page-banner-box bg-7">
                    <h3>Times</h3>
                </div>

                {# <div class="events-inner-box-style d-flex justify-content-between align-items-center">
                    <div class="title">
                        <h3>Todos os Eventos Esportivos</h3>
                    </div>
                    <div class="events-btn">
                        <a href="#" class="default-btn">Adicionar Novo Evento</a>
                    </div>
                    <div class="events-search-box">
                        <form>
                            <input type="text" class="input-search" placeholder="Procurar esportes...">
                            <button type="submit"><i class="ri-search-line"></i></button>
                        </form>
                    </div>
                </div> #}

                <div class="row">
                     <div class="col-lg-12 col-md-6">
                        <div class="single-events-card">
                            
                            <div class="events-content times-card">
                                <div class="events-footer d-flex align-items-center times">
                                    <a href="/procurarTime" class="default-btn">Procurar um novo time</a>
                                    <a href="/criarTime" class="default-btn">Criar um novo time</a>
                                    <a href="/timePerfil" class="default-btn">Já faço parte de um time</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#
                    <div class="col-lg-3 col-md-6">
                        <div class="single-events-card">
                            <a href="#">
                                <img src="tema/zust/assets/images/events/events-2.jpg" alt="image">
                            </a>
                            <div class="events-content">
                                <span>13h às 16h</span>
                                <h3>
                                    <a href="#">Treino de Basquete</a>
                                </h3>
                                <p>CÉU DAS ARTES</p>

                                <div class="events-footer d-flex justify-content-between align-items-center">
                                    <a href="#" class="default-btn">Participar</a>
                                    <span>Todo Domingo</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-events-card">
                            <a href="#">
                                <img src="tema/zust/assets/images/events/events-3.jpg" alt="image">
                            </a>
                            <div class="events-content">
                                <span>7h às 18h</span>
                                <h3>
                                    <a href="#">Campeonato Regional</a>
                                </h3>
                                <p>CSU</p>

                                <div class="events-footer d-flex justify-content-between align-items-center">
                                    <a href="#" class="default-btn">Participar</a>
                                    <span>10/09</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-events-card">
                            <a href="#">
                                <img src="tema/zust/assets/images/events/events-4.jpg" alt="image">
                            </a>
                            <div class="events-content">
                                <span>8h às 12h</span>
                                <h3>
                                    <a href="#">Treino de Vôlei</a>
                                </h3>
                                <p>CÉU DAS ARTES</p>

                                <div class="events-footer d-flex justify-content-between align-items-center">
                                    <a href="#" class="default-btn">Participar</a>
                                    <span>Todo Sábado e Domingo</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-events-card">
                            <a href="#">
                                <img src="tema/zust/assets/images/events/events-5.jpg" alt="image">
                            </a>
                            <div class="events-content">
                                <span>03:30PM to 05:30PM</span>
                                <h3>
                                    <a href="#">Language Festival</a>
                                </h3>
                                <p>Online</p>

                                <div class="events-footer d-flex justify-content-between align-items-center">
                                    <a href="#" class="default-btn">Attend</a>
                                    <span>August 20, 2021</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-events-card">
                            <a href="#">
                                <img src="tema/zust/assets/images/events/events-6.jpg" alt="image">
                            </a>
                            <div class="events-content">
                                <span>05:30PM to 07:30PM</span>
                                <h3>
                                    <a href="#">Business Conference</a>
                                </h3>
                                <p>1535 Point Street Chicago, IL</p>

                                <div class="events-footer d-flex justify-content-between align-items-center">
                                    <a href="#" class="default-btn">Attend</a>
                                    <span>August 27, 2021</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-events-card">
                            <a href="#">
                                <img src="tema/zust/assets/images/events/events-7.jpg" alt="image">
                            </a>
                            <div class="events-content">
                                <span>02:30PM to 04:30PM</span>
                                <h3>
                                    <a href="#">Shopping Conference</a>
                                </h3>
                                <p>Online</p>

                                <div class="events-footer d-flex justify-content-between align-items-center">
                                    <a href="#" class="default-btn">Attend</a>
                                    <span>July 30, 2021</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-events-card">
                            <a href="#">
                                <img src="tema/zust/assets/images/events/events-8.jpg" alt="image">
                            </a>
                            <div class="events-content">
                                <span>12:30PM to 02:30PM</span>
                                <h3>
                                    <a href="#">Music Party</a>
                                </h3>
                                <p>2428 Terra Street Seattle, WA</p>

                                <div class="events-footer d-flex justify-content-between align-items-center">
                                    <a href="#" class="default-btn">Attend</a>
                                    <span>September 03, 2021</span>
                                </div>
                            </div>
                        </div>
                    </div> #}
                </div>
                <div class="recomendados">
                    <h3>Recomendados</h3>
                </div>

                <div class="row justify-content-center">
                            <div class="col-lg-3 col-sm-6">
                                <div class="single-friends-card">
                                    <div class="friends-image">
                                        <a href="#">
                                            <img src="tema/zust/assets/images/friends/friends-bg-1.jpg" alt="image">
                                        </a>
                                        <div class="icon">
                                            <a href="#"><i class="flaticon-user"></i></a>
                                        </div>
                                    </div>
                                    <div class="friends-content">
                                        <div class="friends-info d-flex justify-content-between align-items-center">
                                            <a href="#">
                                                <img src="tema/zust/assets/images/friends/friends-1.jpg" alt="image">
                                            </a>
                                            <div class="text ms-3">
                                                <h3><a href="#">Barcelona Brasil</a></h3>
                                                <span>10 participates</span>
                                            </div>
                                        </div>
                                    
                                        <div class="button-group d-flex justify-content-between align-items-center">
                                            <div class="add-friend-btn">
                                                <button type="submit">Solicitar</button>
                                            </div>
                                            <div class="send-message-btn">
                                                <button type="submit">Ver Time</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-6">
                                <div class="single-friends-card">
                                    <div class="friends-image">
                                        <a href="#">
                                            <img src="tema/zust/assets/images/friends/friends-bg-2.jpg" alt="image">
                                        </a>
                                        <div class="icon">
                                            <a href="#"><i class="flaticon-user"></i></a>
                                        </div>
                                    </div>
                                    <div class="friends-content">
                                        <div class="friends-info d-flex justify-content-between align-items-center">
                                            <a href="#">
                                                <img src="tema/zust/assets/images/friends/friends-1.jpg" alt="image">
                                            </a>
                                            <div class="text ms-3">
                                                <h3><a href="#">Barcelona Brasil</a></h3>
                                                <span>10 participates</span>
                                            </div>
                                        </div>
                                       
                                        <div class="button-group d-flex justify-content-between align-items-center">
                                            <div class="add-friend-btn">
                                                <button type="submit">Solicitar</button>
                                            </div>
                                            <div class="send-message-btn">
                                                <button type="submit">Ver Time</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-6">
                                <div class="single-friends-card">
                                    <div class="friends-image">
                                        <a href="#">
                                            <img src="tema/zust/assets/images/friends/friends-bg-3.jpg" alt="image">
                                        </a>
                                        <div class="icon">
                                            <a href="#"><i class="flaticon-user"></i></a>
                                        </div>
                                    </div>
                                    <div class="friends-content">
                                        <div class="friends-info d-flex justify-content-between align-items-center">
                                            <a href="#">
                                                <img src="tema/zust/assets/images/friends/friends-1.jpg" alt="image">
                                            </a>
                                            <div class="text ms-3">
                                                <h3><a href="#">Barcelona Brasil</a></h3>
                                                <span>10 participates</span>
                                            </div>
                                        </div>
                                       
                                        <div class="button-group d-flex justify-content-between align-items-center">
                                            <div class="add-friend-btn">
                                                <button type="submit">Solicitar</button>
                                            </div>
                                            <div class="send-message-btn">
                                                <button type="submit">Ver Time</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-6">
                                <div class="single-friends-card">
                                    <div class="friends-image">
                                        <a href="#">
                                            <img src="tema/zust/assets/images/friends/friends-bg-4.jpg" alt="image">
                                        </a>
                                        <div class="icon">
                                            <a href="#"><i class="flaticon-user"></i></a>
                                        </div>
                                    </div>
                                    <div class="friends-content">
                                        <div class="friends-info d-flex justify-content-between align-items-center">
                                            <a href="#">
                                                <img src="tema/zust/assets/images/friends/friends-1.jpg" alt="image">
                                            </a>
                                            <div class="text ms-3">
                                                <h3><a href="#">Barcelona Brasil</a></h3>
                                                <span>10 participates</span>
                                            </div>
                                        </div>
                                       
                                        <div class="button-group d-flex justify-content-between align-items-center">
                                            <div class="add-friend-btn">
                                                <button type="submit">Solicitar</button>
                                            </div>
                                            <div class="send-message-btn">
                                                <button type="submit">Ver Time</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-6">
                                <div class="single-friends-card">
                                    <div class="friends-image">
                                        <a href="#">
                                            <img src="tema/zust/assets/images/friends/friends-bg-5.jpg" alt="image">
                                        </a>
                                        <div class="icon">
                                            <a href="#"><i class="flaticon-user"></i></a>
                                        </div>
                                    </div>
                                    <div class="friends-content">
                                        <div class="friends-info d-flex justify-content-between align-items-center">
                                            <a href="#">
                                                <img src="tema/zust/assets/images/friends/friends-1.jpg" alt="image">
                                            </a>
                                            <div class="text ms-3">
                                                <h3><a href="#">Barcelona Brasil</a></h3>
                                                <span>10 participates</span>
                                            </div>
                                        </div>
                                       
                                        <div class="button-group d-flex justify-content-between align-items-center">
                                            <div class="add-friend-btn">
                                                <button type="submit">Solicitar</button>
                                            </div>
                                            <div class="send-message-btn">
                                                <button type="submit">Ver Time</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-6">
                                <div class="single-friends-card">
                                    <div class="friends-image">
                                        <a href="#">
                                            <img src="tema/zust/assets/images/friends/friends-bg-6.jpg" alt="image">
                                        </a>
                                        <div class="icon">
                                            <a href="#"><i class="flaticon-user"></i></a>
                                        </div>
                                    </div>
                                    <div class="friends-content">
                                        <div class="friends-info d-flex justify-content-between align-items-center">
                                            <a href="#">
                                                <img src="tema/zust/assets/images/friends/friends-1.jpg" alt="image">
                                            </a>
                                            <div class="text ms-3">
                                                <h3><a href="#">Barcelona Brasil</a></h3>
                                                <span>10 participates</span>
                                            </div>
                                        </div>
                                       
                                        <div class="button-group d-flex justify-content-between align-items-center">
                                            <div class="add-friend-btn">
                                                <button type="submit">Solicitar</button>
                                            </div>
                                            <div class="send-message-btn">
                                                <button type="submit">Ver Time</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-6">
                                <div class="single-friends-card">
                                    <div class="friends-image">
                                        <a href="#">
                                            <img src="tema/zust/assets/images/friends/friends-bg-7.jpg" alt="image">
                                        </a>
                                        <div class="icon">
                                            <a href="#"><i class="flaticon-user"></i></a>
                                        </div>
                                    </div>
                                    <div class="friends-content">
                                        <div class="friends-info d-flex justify-content-between align-items-center">
                                            <a href="#">
                                                <img src="tema/zust/assets/images/friends/friends-1.jpg" alt="image">
                                            </a>
                                            <div class="text ms-3">
                                                <h3><a href="#">Barcelona Brasil</a></h3>
                                                <span>10 participates</span>
                                            </div>
                                        </div>
                                       
                                        <div class="button-group d-flex justify-content-between align-items-center">
                                            <div class="add-friend-btn">
                                                <button type="submit">Solicitar</button>
                                            </div>
                                            <div class="send-message-btn">
                                                <button type="submit">Ver Time</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-6">
                                <div class="single-friends-card">
                                    <div class="friends-image">
                                        <a href="#">
                                            <img src="tema/zust/assets/images/friends/friends-bg-8.jpg" alt="image">
                                        </a>
                                        <div class="icon">
                                            <a href="#"><i class="flaticon-user"></i></a>
                                        </div>
                                    </div>
                                    <div class="friends-content">
                                        <div class="friends-info d-flex justify-content-between align-items-center">
                                            <a href="#">
                                                <img src="tema/zust/assets/images/friends/friends-1.jpg" alt="image">
                                            </a>
                                            <div class="text ms-3">
                                                <h3><a href="#">Barcelona Brasil</a></h3>
                                                <span>10 participates</span>
                                            </div>
                                        </div>
                                       
                                        <div class="button-group d-flex justify-content-between align-items-center">
                                            <div class="add-friend-btn">
                                                <button type="submit">Solicitar</button>
                                            </div>
                                            <div class="send-message-btn">
                                                <button type="submit">Ver Time</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                           
                        </div>

                        <div class="load-more-posts-btn">
                            <a href="#"><i class="flaticon-loading"></i> Load More</a>
                        </div>

                {# <form class="events-form">
                    <h3>Adicionar Novo Evento</h3>

                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Esporte</label>
                                <select class="form-select">
                                    <option selected="1">Futebol</option>
                                    <option value="2">Dance Conference</option>
                                    <option value="3">Food Festival</option>
                                    <option value="4">Film Festival</option>
                                    <option value="5">Language Festival</option>
                                    <option value="6">Business Conference</option>
                                    <option value="7">Shopping Conference</option>
                                    <option value="8">Music Party</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Nome do evento</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Local</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Data</label>
                                <input type="text" class="form-control" id="datepicker">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Hora de Início</label>
                                <input type="time" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Hora de Término</label>
                                <input type="time" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Descrição do Evento</label>
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                        
                        <div class="col-lg-12 col-md-12">
                            <button type="submit" class="default-btn">Criar Evento</button>
                        </div>
                    </div>
                </form> #}
            </div>

{% endblock %}
