{% extends 'login.html.twig' %}

{% block body %}
<div class="profile-authentication-area">
            <div class="container">
                <div class="row login">
                    <div class="col-lg-6 col-md-12 login-formulario">
                        <div class="login-form" style="background-color: #1b1c1c">
                            <h2 style="color: aliceblue;">Login</h2>
        
                            <form id="formulario-login">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input style="background-color: black; border:none;" id="email" name="email" type="text" class="form-control">
                                </div>
        
                                <div class="form-group">
                                    <label>Senha</label>
                                    <input style="background-color: black; border:none;" id="senha" name="senha" type="password" class="form-control">
                                </div>
        
                                <div class="remember-me-wrap d-flex justify-content-between align-items-center">
                                    <p>
                                        <input type="checkbox" id="test1">
                                        <label for="test1">Lembrar senha</label>
                                    </p>
        
                                    <div class="lost-your-password-wrap">
                                        <a href="/password" class="lost-your-password">Esqueceu sua senha?</a>
                                    </div>
                                </div>
                                <a href="#" style="margin-bottom: 15px;" onclick="login()" type="button" class="default-btn">Login</a>
                            
                                <a href="/cadastro" type="button" class="google-btn">Cadastre-se</a>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="home-btn-icon">
                <a href="/feed"><i class="flaticon-home"></i></a>
            </div>
        </div>

        <script>
            function login() {
               
                var email = document.getElementById('email').value;
                var senha = document.getElementById('senha').value;
                var url = "http://192.168.18.13/laravel-jwt/public/index.php/api/login";
                var dados = {
                    email: email,
                    password: senha
                };

                $.post(url, dados, function(retorno){
                    console.log(retorno);

                    localStorage.setItem('token', retorno.authorisation.token);
                    localStorage.setItem('name', retorno.user.name);
                    localStorage.setItem('email', retorno.user.email);
                    localStorage.setItem('id', retorno.user.id);

                    console.log('ID armazenado no localStorage:', localStorage.getItem('id'));
                    console.log('Token armazenado no localStorage:', localStorage.getItem('token'));
                    console.log('Nome armazenado no localStorage:', localStorage.getItem('name'));
                    console.log('Email armazenado no localStorage:', localStorage.getItem('email'));

                   setTimeout(() => {
                        window.location.href = "/perfil";
                    }, 1000);
                
                })



                console.log('Email:', email);
                console.log('Senha:', senha);
            }
        </script>
{% endblock %}
