{% extends 'login.html.twig' %}

{% block body %}
<div class="profile-authentication-area">
            <div class="container">
                <div class="row login">
                    <div class="col-lg-6 col-md-12 login-formulario">
                        <div class="login-form" style="background-color: #1b1c1c">
                            <h2 style="color: aliceblue;">Login</h2>
        
                            <form id="formulario-login">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input style="background-color: black; border:none;" id="email" name="email" type="text" class="form-control">
                                </div>
        
                                <div class="form-group">
                                    <label>Senha</label>
                                    <input style="background-color: black; border:none;" id="senha" name="senha" type="password" class="form-control">
                                </div>
        
                                <div class="remember-me-wrap d-flex justify-content-between align-items-center">
                                    <p>
                                        <input type="checkbox" id="test1">
                                        <label for="test1">Lembrar senha</label>
                                    </p>
        
                                    <div class="lost-your-password-wrap">
                                        <a href="/password" class="lost-your-password">Esqueceu sua senha?</a>
                                    </div>
                                </div>
                                <a href="/perfil" style="margin-bottom: 15px;" onclick="exibirDados()" type="button" class="default-btn">Login</a>
                            
                                <a href="/cadastro" type="button" class="google-btn">Cadastre-se</a>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="home-btn-icon">
                <a href="index.html"><i class="flaticon-home"></i></a>
            </div>
        </div>

        <script>
            function exibirDados() {
               
                var email = document.getElementById('email').value;
                var senha = document.getElementById('senha').value;

                console.log('Email:', email);
                console.log('Senha:', senha);
            }
        </script>
{% endblock %}
