{% extends 'login.html.twig' %}

{% block body %}
<div class="profile-authentication-area large-gap">
            <div class="container">
                <div style="background-color: #1b1c1c;" class="forgot-password-form">
                    <h2 style="color: aliceblue;">Esqueci minha senha</h2>

                    <form>
                        <div class="form-group">
                            <label>Digite seu email</label>
                            <input style="background-color: black; border:none;" type="email" class="form-control">
                        </div>
                        <button type="submit" class="default-btn">Enviar email de recuperação</button>
                    </form>
                </div>
            </div>

            <div class="home-btn-icon">
                <a href="index.html"><i class="flaticon-home"></i></a>
            </div>
        </div>
{% endblock %}

