{% extends 'base.html.twig' %}

{% block body %}
 <div class="content-page-box-area">
                <div class="all-notifications-body">
                    <div class="all-notifications-header d-flex justify-content-between align-items-center">
                        <h3>Notificações</h3>
                        
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flaticon-menu"></i></button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item d-flex align-items-center" href="#"><i class="flaticon-edit"></i> Editar Notificações</a></li>
                                {# <li><a class="dropdown-item d-flex align-items-center" href="#"><i class="flaticon-private"></i> Hide Notifications</a></li> #}
                                <li><a class="dropdown-item d-flex align-items-center" href="#"><i class="flaticon-trash"></i> Deletar Notificações</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item d-flex justify-content-between align-items-center">
                        <div class="figure">
                            <a href="my-profile.html"><img src="tema/zust/assets/images/user/user-55.jpg" class="rounded-circle" alt="image"></a>
                        </div>
                        <div class="text">
                            <h4><a href="my-profile.html">James Vanwin</a></h4>
                            <span>Comentou na sua foto</span>
                            <span class="main-color">20 minutos atrás</span>
                        </div>
                        <div class="icon">
                            <a href="#"><i class="flaticon-x-mark"></i></a>
                        </div>
                    </div>
                    <div class="item d-flex justify-content-between align-items-center">
                        <div class="figure">
                            <a href="my-profile.html"><img src="tema/zust/assets/images/user/user-45.jpg" class="rounded-circle" alt="image"></a>
                        </div>
                        <div class="text">
                            <h4><a href="my-profile.html">Dwight Schoolcraft</a></h4>
                            <span>Enviou uma solicitação de amizade</span>
                            <span class="main-color">35 minutos atrás</span>
                        </div>
                        <div class="icon">
                            <a href="#"><i class="flaticon-x-mark"></i></a>
                        </div>
                    </div>
                    <div class="item d-flex justify-content-between align-items-center">
                        <div class="figure">
                            <a href="my-profile.html"><img src="tema/zust/assets/images/user/user-48.jpg" class="rounded-circle" alt="image"></a>
                        </div>
                        <div class="text">
                            <h4><a href="my-profile.html">Susan Hadden</a></h4>
                            <span>Enviou uma solicitação de amizade</span>
                            <span class="main-color">50 minutos atrás</span>
                        </div>
                        <div class="icon">
                            <a href="#"><i class="flaticon-x-mark"></i></a>
                        </div>
                    </div>
                    <div class="item d-flex justify-content-between align-items-center">
                        <div class="figure">
                            <a href="my-profile.html"><img src="tema/zust/assets/images/user/user-49.jpg" class="rounded-circle" alt="image"></a>
                        </div>
                        <div class="text">
                            <h4><a href="my-profile.html">Herta Smith</a></h4>
                            <span>Enviou uma solicitação de amizade</span>
                            <span class="main-color">1 hora atrás</span>
                        </div>
                        <div class="icon">
                            <a href="#"><i class="flaticon-x-mark"></i></a>
                        </div>
                    </div>
                    <div class="item d-flex justify-content-between align-items-center">
                        <div class="figure">
                            <a href="my-profile.html"><img src="tema/zust/assets/images/user/user-50.jpg" class="rounded-circle" alt="image"></a>
                        </div>
                        <div class="text">
                            <h4><a href="my-profile.html">Francis L. Tay</a></h4>
                            <span>Curtiu seu comentário</span>
                            <span class="main-color">5 horas atrás</span>
                        </div>
                        <div class="icon">
                            <a href="#"><i class="flaticon-x-mark"></i></a>
                        </div>
                    </div>
                    <div class="item d-flex justify-content-between align-items-center">
                        <div class="figure">
                            <a href="my-profile.html"><img src="tema/zust/assets/images/user/user-51.jpg" class="rounded-circle" alt="image"></a>
                        </div>
                        <div class="text">
                            <h4><a href="my-profile.html">Laura Hildebrandt</a></h4>
                            <span>Comment On Your Status</span>
                            <span class="main-color">1 Days Ago</span>
                        </div>
                        <div class="icon">
                            <a href="#"><i class="flaticon-x-mark"></i></a>
                        </div>
                    </div>
                    <div class="item d-flex justify-content-between align-items-center">
                        <div class="figure">
                            <a href="my-profile.html"><img src="tema/zust/assets/images/user/user-52.jpg" class="rounded-circle" alt="image"></a>
                        </div>
                        <div class="text">
                            <h4><a href="my-profile.html">Martha Wilkes</a></h4>
                            <span>Reacted To Your Comment "Happy Birthday"</span>
                            <span class="main-color">3 Days Ago</span>
                        </div>
                        <div class="icon">
                            <a href="#"><i class="flaticon-x-mark"></i></a>
                        </div>
                    </div>
                    <div class="item d-flex justify-content-between align-items-center">
                        <div class="figure">
                            <a href="my-profile.html"><img src="tema/zust/assets/images/user/user-53.jpg" class="rounded-circle" alt="image"></a>
                        </div>
                        <div class="text">
                            <h4><a href="my-profile.html">Howard Harris</a></h4>
                            <span>Added a Photo in Graphic Design Group</span>
                            <span class="main-color">7 Days Ago</span>
                        </div>
                        <div class="icon">
                            <a href="#"><i class="flaticon-x-mark"></i></a>
                        </div>
                    </div>
                    <div class="item d-flex justify-content-between align-items-center">
                        <div class="figure">
                            <a href="my-profile.html"><img src="tema/zust/assets/images/user/user-54.jpg" class="rounded-circle" alt="image"></a>
                        </div>
                        <div class="text">
                            <h4><a href="my-profile.html">Martha Wilkes</a></h4>
                            <span>Added a Photo in Graphic Design Group</span>
                            <span class="main-color">7 Days Ago</span>
                        </div>
                        <div class="icon">
                            <a href="#"><i class="flaticon-x-mark"></i></a>
                        </div>
                    </div>
                    <div class="item d-flex justify-content-between align-items-center">
                        <div class="figure">
                            <a href="my-profile.html"><img src="tema/zust/assets/images/user/user-30.jpg" class="rounded-circle" alt="image"></a>
                        </div>
                        <div class="text">
                            <h4><a href="my-profile.html">David Gibson</a></h4>
                            <span>Commented on Your Newstatus</span>
                            <span class="main-color">1 Month Ago</span>
                        </div>
                        <div class="icon">
                            <a href="#"><i class="flaticon-x-mark"></i></a>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
